body {
    margin: 0;
    background-image: radial-gradient(circle, rgba(68,8,61,1) 0%, rgba(75,23,44,1) 100%);
}

.title_div {
    margin: 0;
    padding-top: 50px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgba(252,255,124,0.2) 0%, rgba(52,0,0,0) 100%)
}

.title_div marquee {
    font-family: Courier New;
    font-size: 24px;
    color: rgb(255, 255, 255, 0.1);
}

.headings {
    width: auto;
    z-index: 3;
}

.title_div h1 {
    line-height: 120%;
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
}

.main_content {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'JetBrains Mono', monospace;
    color: lightgray;
    text-align: justify;
    opacity: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation-name: content_fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.text_body {
    padding: 0 15px;
    min-width: 20em;
    max-width: 50em;
}

.party_flags {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.party_flags img {
    width: 100%;
}

#title_textOne, #title_textTwo {
    position: relative;
    opacity: 0;
    text-shadow: 0px 0px 50px RGBA(255, 255, 255, 0.5);
    animation-name: title_text_entrance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes content_fade-in {
    100% {
        opacity: 100%;
    }
}

@keyframes title_text_entrance {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
        opacity: 100%;
    }
}

#title_textOne {
    padding-top: 25px;
}

#title_textTwo {
    padding-bottom: 75px;
    animation-delay: 0.5s;
}

#author {
    text-align: right;
    font-style: italic;
}
